.all-coins-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding:3rem 3rem;
    margin: 1.2rem 4.5rem;
    box-shadow: 1px 1px 9px 12px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    height: fit-content;
    background-color:lightblue;
}